# LiveKit credentials
LIVEKIT_URL=wss://human-in-the-loop-ai-superviso-q6zo1a6h.livekit.cloud
LIVEKIT_API_KEY=API7UFs83FNAAbS
LIVEKIT_API_SECRET=44kKj1tnsS11biYauwaFoyV7do4BVicqaBbldvzNjbG

# OpenAI API key for the language model
OPENAI_API_KEY=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

# Deepgram API key for speech recognition
DEEPGRAM_API_KEY=4473e9f78f89f750898495bad5d8f1283152f28d